@using Microsoft.AspNet.Identity
@model RajaMotors.Web.ViewModels.ClientViewModel
<div class="span12 well">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <h4>Edit @Html.DisplayFor(model => model.ClientName)</h4>
            @Html.HiddenFor(model => model.ClientId)
            <table class="table">
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ClientName, "Client Name")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.ClientName, new { @class = "span11" })
                        @Html.ValidationMessageFor(model => model.ClientName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ClientMobile, "ClientMobile")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.ClientMobile, new { @class = "span11" })
                        @Html.ValidationMessageFor(model => model.ClientMobile)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ClientAddress, "ClientAddress")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.ClientAddress, new { @class = "span11" })
                        @Html.ValidationMessageFor(model => model.ClientAddress)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ClientAddress1, "ClientAddress1")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.ClientAddress1, new { @class = "span11" })
                        @Html.ValidationMessageFor(model => model.ClientAddress1)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ClientAddress2, "ClientAddress2")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.ClientAddress2, new { @class = "span11" })
                        @Html.ValidationMessageFor(model => model.ClientAddress1)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ClientDateModified, "Modified Date")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.ClientDateModified, String.Format("{0:dd-MMM-yyyy}", Model.ClientDateModified), new { @class = "ui-datepicker span11"})
                        @Html.ValidationMessageFor(model => model.ClientDateModified)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Active")
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.ClientIsActive, true)
                    </td>                   
                </tr>
                <tr>
                    <td>
                        @Html.Hidden("UserId", User.Identity.GetUserId())
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary" type="submit" value="Save" onclick="editSave(@Model.ClientId)">
                Save
            </button>
            <button class="btn" type="reset" value="Cancel" onclick="window.location.href='@Url.Action("Index", "Client")'">
                Cancel
            </button>
        </fieldset>

        <div id="divEdit@(Model.ClientId)">
        </div>
    }
</div>
 
<script type="text/javascript">  
    $(document).ready(function () {
        $('.ui-datepicker').each(function (i, v) {
            $(".ui - datepicker").val(" ");
            $(v).datepicker({
                dateFormat: 'dd-M-yy',
                buttonImage: '@Url.Content("~/Content/calendar.gif")',
                buttonImageOnly: true,
                showOn: "button"
            });
        });
    });
</script>