@using Microsoft.AspNet.Identity
@model RajaMotors.Web.ViewModels.VehicleViewModel
@{
    ViewBag.Title = "EditProfileView";
    Layout = "~/Views/Shared/_HomeLayoutRajaMotors.cshtml";
}


<div class="well span12">
    <div class="span4" style="padding-left:30px;">
        <h4>Clients</h4>
    </div>

    <div class="span11">
        <table class="table">
            <tr>
                <td>
                    @Html.LabelFor(model => model.VehicleId, new { @class = "span3" })
                </td>
                <td>
                    @Html.Encode(Model.VehicleId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.VehicleModelName, new { @class = "span3" })
                </td>
                <td>
                    @Html.Encode(Model.VehicleModelName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.VehicleModelNumber, new { @class = "span3" })
                </td>
                <td>
                    @Html.Encode(Model.VehicleModelNumber)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.VehicleSerialNumber, new { @class = "span3" })
                </td>
                <td>
                    @Html.Encode(Model.VehicleSerialNumber)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.VehicleChasisNumber, new { @class = "span3" })
                </td>
                <td>
                    @Html.Encode(Model.VehicleChasisNumber)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.VehicletDateAdded, new {@class = "span3"})
                </td>
                <td>
                    @Html.Encode(Model.VehicletDateAdded)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Services, new {@class = "span3"})
                </td>
                <td>
                    @Html.Encode(Model.serviceCount)
                </td>
            </tr>
             
            <tr>
                <td>
                    <a href="/Client/ClientList">back</a>
                </td>
            </tr>
        </table>
    </div>
</div>



